.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 20px;
  color: white;
}

/* Left */
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 28px;
  color: white;
}
.logo-icon{
  color: green;
}

.home-icon {
  background: #1f1f1f;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

/* Search */
.search-bar {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  padding: 8px 15px;
  border-radius: 25px;
  width: 350px;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 10px;
  width: 100%;
}

.search-icon {
  color: gray;
}

/* Right */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.divider {
  color: gray;
}

.install {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-btn {
  background: white;
  color: black;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
