*{
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 20px;
  color: white;
  height: 50px;
  /* width: 100%;
  background-size: cover; */
}


.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 28px;
  color: white;
}
.logo-icon{
  color: rgb(235, 241, 235);
  height: 50px;
  width: 70px;
}
.home-icon{
   color: rgb(235, 241, 235);
  height: 40px;
  width: 50px;
}

.home-icon {
  background: #1f1f1f;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

/* Search */
.search-bar {
  display: flex;
  align-items: center;
  background: #1f1f1f;
  padding: 8px 15px;
  border-radius: 25px;
  width: 350px;
  height: 30px;
    /* margin-left: 100px; */
 

}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 10px;
  width: 100%;

}

.search-icon {
  color: rgb(136, 125, 125);
    height: 20px;
    width: 30px;
}
.browser-image{
  color: rgb(129, 119, 119);
  height: 30px;
  width: 40px;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 50px;
  
 
}

.header-right a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.divider {
  color: gray;
}

.install {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-btn {
  background: white;
  color: black;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
